---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/our-class.astro";

const ourClass = [
  {
    name: "PlayDevs",
    price: "IDR 270.000",
    popular: true,
    features: [
      "For kids aged 4 to 8",
      "Teaching Kits",
      "3 offline meet (1 hour per meet)",
      "Will Learn basic logical thinking",
      "Fun Final exam at the last meet",
      "Certificate completion",
    ],
    button: {
      text: "Call Us",
      link: "https://linktr.ee/kodingkidsjogja",
    },
  },
  {
    name: "FutureDevs",
    // price: {
    //   monthly: "$19",
    //   annual: "$16",
    //   discount: "10%",
    //   original: "$24",
    // },
    price: "IDR 470.000",
    popular: true,
    features: [
      "For kids aged 8 to 12",
      "Teaching kits",
      "5 Online Meet (1 hour per meet)",
      "Will Learn intermediate logical thinking",
      "Fun Final exam at the last meet",
      "Certificate completion",
    ],
    button: {
      text: "Call Us",
      link: "https://linktr.ee/kodingkidsjogja",
    },
  },
  {
    name: "Custom Package",
    price: "Custom",
    popular: false,
    features: [
      "contact us what your need, and we will give best advice and package"
    ],
    button: {
      text: "Contact us",
      link: "https://linktr.ee/kodingkidsjogja",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title" >Our Teaching Package</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {ourClass.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
