---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Teacher are Developer",
    description:
      "Our teacher is active developer. Can help to solve problem with developer perspective",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "4 up to 12 Year Old",
    description:
      "Teaching 4 upto 12 Year old kid.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "2 Devs Class",
    description:
      "There are 2 Class, PlayDevs and FutureDevs",
    icon: "bx:bxs-user",
  },
  {
    title: "Offline and Online Teaching",
    description:
      "We can Provide online or offline teaching",
    icon: "bx:bxs-data",
  },
  {
    title: "Affordable Price",
    description:
      "No Need to worry about the price. We offer the most affordable price for teaching",
    icon: "bx:bxs-bot",
  },
  {
    title: "Ask for Something?",
    description:
      "please call us for more info. We provide the best solutions",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-secondary">
    Coding can improve children's skills in solving problems
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Coding not only related to computers, but can improve children's skills in solving problems. KodingKids comes batteries included. We provide intensive tutor for learning code, and also create fun moment within
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
